@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,300&family=PT+Serif&family=Quicksand:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


*{
    padding: 0;
    margin: 0;
}

html{

    scroll-behavior: smooth;

}

body{
    font-family: 'PT Serif', serif;
    background-image: url(../media/Plantilla\ de\ Instagram\ con\ citas\ de\ motivación\ minimalista\ degradada\ \(2\).png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30%;
}

@import "nav";

@import "inicio";

@import "nosotros";

@import "productos";

@import "perfumeYlimpieza";

@import "medias";